@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, here is the date and time.</h1>
</div>

@{ var Ctime = DateTime.Now;}

<h2 id="words">
    @Ctime
</h2> 
